
{% extends "layouts/main_layout.html" %}
{% block body %}

<div class="ui-container">
    
    <!-- ROW STARTS -->
    <div class="row">
        <!--Courses-->
        <div class="col-md-12 ">
            <div class="panel">
                <header  class="panel-heading">
                    <h1>Upcomming Rehearsals</h1>
                    <hr/>
                </header>
                <div class="">
                    
                    

                </div>
            </div>
        </div>
        <!--Courses-->
    </div>
    <!-- ROW ENDS -->
    
    
    
    <!-- ROW STARTS -->
    <div class="row">
        <!--Courses-->
        <div class="col-md-12 ">
            <div class="panel">
                <header  class="panel-heading">
                    <h1>My Bands</h1>
                    <hr/>
                </header>
                <div class="">
                    
                    
                    <table class="table">
                                
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Genres</th>
                                        <th>Description</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for band in bands %}
                                        <tr>
                                            <td>{{band.name}}</td>
                                            <td>{{band.genres}}</td>
                                            <td>{{band.description}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                    
                    
                </div>
            </div>
        </div>
        <!--Courses-->
    </div>
    <!-- ROW ENDS -->
</div>

{% endblock %}
