
{% extends "layouts/main_layout.html" %}
{% block body %}

<div class="ui-container">
    
    <!-- ROW STARTS -->
    <div class="row">
        <!--Courses-->
        <div class="col-md-12 ">
            <div class="panel">
                <header  class="panel-heading">
                    <h1>Upcomming Rehearsals</h1>
                    <hr/>
                </header>
                <div class="">
                    
                    <ul class="Notification-list list-group">
    
                        <!--
                        <li class="Notification list-group-item">
                            <button class="Notification__status Notification__status--read" type="button" name="button"></button>
                            <a href="javaScritp:;">
                                <div class="Notification__avatar pull-left" >
                                    <img src="imgs/a0.jpg" alt="...">
                                </div>
                                <div class="Notification__highlight">
                                    <p class="Notification__highlight-excerpt"><b>Jonathan Smith</b> and 4 other people like your post “Awesome Bootstrap dashbord”.</p>
                                    <p class="Notification__highlight-time">1 day ago</p>
                                </div>
                            </a>
                        </li>
                        -->
                    </ul>
                </div>
            </div>
        </div>
        <!--Courses-->
    </div>
    <!-- ROW ENDS -->
    
    
    
    <!-- ROW STARTS -->
    <div class="row">
        <!--Courses-->
        <div class="col-md-12 ">
            <div class="panel">
                <header  class="panel-heading">
                    <h1>My Bands</h1>
                    <hr/>
                </header>
                <div class="">
                    
                    <ul class="Notification-list list-group">
    
                        <!--
                        <li class="Notification list-group-item">
                            <button class="Notification__status Notification__status--read" type="button" name="button"></button>
                            <a href="javaScritp:;">
                                <div class="Notification__avatar pull-left" >
                                    <img src="imgs/a0.jpg" alt="...">
                                </div>
                                <div class="Notification__highlight">
                                    <p class="Notification__highlight-excerpt"><b>Jonathan Smith</b> and 4 other people like your post “Awesome Bootstrap dashbord”.</p>
                                    <p class="Notification__highlight-time">1 day ago</p>
                                </div>
                            </a>
                        </li>
                        -->
                    </ul>
                </div>
            </div>
        </div>
        <!--Courses-->
    </div>
    <!-- ROW ENDS -->
</div>

{% endblock %}
